<section class="top-footer">
  <div class="container">
    <div class="footer-content">
      <div class="row py-6 text-center text-white">
        <div class="col-sm-4">
          <div class="inner">
            <h3>LOCATION</h3>
            <P>2215 John Daniel Drive</P>
            <P>Clark, MO 65243</P>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="inner">
            <h3>AROUND THE WEB</h3>
            <ul class="d-flex justify-content-center align-items-center me-3">
              <li><i class="fa-brands fa-facebook mx-1 icon"></i></li>
              <li><i class="fa-brands fa-twitter mx-1 icon"></i></li>
              <li><i class="fa-brands fa-linkedin-in mx-1 icon"></i></li>
              <li><i class="fa-solid fa-globe mx-1 icon"></i></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="inner">
            <h3>ABOUT FREELANCER</h3>
            <P
              >Freelance is a free to use, licensed Bootstrap theme created by
              Route</P
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-footer">
  <div
    class="content d-flex justify-content-center align-items-center py-3 text-white"
  >
    <p class="pt-1">Copyright © Your Website 2021</p>
  </div>
</section>
