<section class="about vh-70">
  <div
    class="about-content h-100 w-75 mx-auto d-flex justify-content-center flex-column"
  >
    <h2 class="text-center">ABOUT COMPONENT</h2>
    <div class="icon">
      <i>⭐</i>
    </div>
    <div class="p-text d-flex">
      <p>
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
      <p>
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</section>
